# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/text,executable
# Edit at https://www.gitignore.io/?templates=text,executable

### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

# End of https://www.gitignore.io/api/text,executable

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

