*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.in
*.out
*.rar
*.zip
*.o
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.pdf
*.sol
*.inp
*.oac
*.out
*.txt
Gen_case.cpp
Gencase.cpp
Sol.cpp
Teach.cpp
test.cpp
*.tex
_*
template.cpp